*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rowFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideBar
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}


.list:hover
{
    cursor: pointer;
}